---
layout: layouts/base.njk
---
<section class="intestazione">
  <div class="contenitore">
    {%- if occhiello %}<p class="occhiello">{{ occhiello }}</p>{% endif %}
    <h1>{{ titolo }}</h1>
    {%- if sottotitolo %}<p class="sottotitolo">{{ sottotitolo | mdInline | safe }}</p>{% endif %}
  </div>
</section>
{{ content | safe }}
