---
layout: layouts/pagina.njk
permalink: /dritte/offlmts-drumkit-vol1/grazie/
eleventyExcludeFromCollections: true
escludiDaSitemap: true
noindex: true
titolo: Here's your drumkit
titolo_seo: OFFLMTS Drumkit Vol.1, download
descrizione: Download link for OFFLMTS Drumkit Vol.1.
occhiello: OFFLMTS Drumkit Vol.1
sottotitolo: Thanks. The file is on Mediafire: 20 sounds in one zip.
senzaContatto: true
---
<section style="padding-top:0">
  <div class="contenitore">
    <p><a class="bottone" href="{{ sito.drumkit.download }}" rel="noopener">Download the drumkit</a></p>
    <p class="scarica-nota">If Mediafire shows ads or a countdown, wait for the green "Download" button. Want to see how these sounds were made? The TESTED series is on <a href="{{ sito.social.youtube }}" rel="noopener">YouTube</a>.</p>
    <p><a href="/dritte/offlmts-drumkit-vol1/">Back to the post</a></p>
  </div>
</section>
